
@media (max-width: 425px) {
    .hide-small {
     display: none !important;
    }

    .on-small-header {
        width: 100% !important;
    }

    .on-small-search {
        margin-right: 2.5rem !important;
    }
}

